
* {
  padding: 0;
  margin: 0;
}
.container-fluid {
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}

*::-webkit-scrollbar {
  display: none;
}

.navbar {
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: absolute;
}

.main{
  background:linear-gradient( white 110px, #a8ce41 110px);
  margin: 0 !important;
  padding: 50px !important;
  position: absolute;
  /* transform: translateY(110px); */
  right: 0;
  bottom: 0;
  top:0;
  left:0;
  z-index: -1;
  /* height: 100vh; */
  width: auto;
}

.navLink  {
  color: #6f3415 !important;
  font-family: collector-comic,sans-serif;
  /* font-size: 2vw; */
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.car {
  margin: 150px 0px;
  /* height: auto;
  width: auto; */
}

.carCap {
  text-align: center;
  /* color: #6f3415; */
  color: white;
  font-family: collector-comic,sans-serif;
  margin: 5px 0px;
  /* text-shadow: 2px 2px white; */
}
.carImg {
  border-radius: 5%;
  max-width: 600px;
}
.carText {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.25rem;
}
.carousel-item {
  height: auto;
}
.carousel-indicators {
  display: none !important;
}
.img-fluid {
  max-width: 60% !important;
}


@media (max-width:768px) {
  .carImg {
    border-radius: 5%;
    max-width: 400px;
  }
}
@media (max-width:500px) {
  .carImg {
    border-radius: 5%;
    width: 100%;
  }
}
@media (max-width:414px) {
  .carImg {
    border-radius: 5%;
    width: 100%;
  }
}
/* font-family: collector-comic,sans-serif;
font-weight: 400;
font-style: normal;

font-family: collector-comic,sans-serif;
font-weight: 400;
font-style: italic;

font-family: collector-comic,sans-serif;
font-weight: 700;
font-style: normal;

font-family: collector-comic,sans-serif;
font-weight: 700;
font-style: italic; */
